version: '3.8'
services:
  db:
    image: postgres:14-alpine
    # restart: always
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
    ports:
      - '5432:5432'
    volumes:
      - ./db:/var/lib/postgresql/data

  adminer:
    depends_on:
      - db
    # image: dockette/adminer:dg
    image: snowdreamtech/adminerevo:4
    ports:
      - 8080:80
